
TableCell{
  align-self: center;
}

.Last-Epoch-TWAP-122 {
    width: 149px;
    height: 19px;
    margin: 3px 15px 0 204px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  
  .Last-Epoch-TWAP-122 .text-style-1 {
    font-weight: normal;
  }
  
  .Last-Epoch-TWAP-122 .text-style-2 {
    font-weight: 600;
    color: #00e8a2;
  }
    .TVL-5002412 {
    width: 107px;
    height: 19px;
    margin: 3px 36px 3px 225px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00e8a2;
  }
  
  .TVL-5002412 .text-style-1 {
    font-weight: 300;
    color: #fff;
  }
  
  .TVL-5002412 .text-style-2 {
    font-weight: normal;
    color: #fff;
  }
    .Unite-PriceTWAP {
    width: 106px;
    height: 19px;
    margin: 3px 36px 0 226px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  
  .Unite-PriceTWAP .text-style-1 {
    font-weight: normal;
  }
  
  .Unite-PriceTWAP .text-style-2 {
    font-weight: 600;
    color: #00e8a2;
  }
    .Line-76 {
    width: 128px;
    height: 0.5px;
    margin: 4.8px 28px 8.8px 212px;
    background-color: rgba(195, 197, 203, 0.75);
  }
    .-Next-Epoch-in {
    width: 140px;
    height: 63px;
    margin: 4.8px 19px 4.8px 209px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  
  .-Next-Epoch-in .text-style-1 {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.18;
  }
    .Line-75 {
    width: 185px;
    height: 0.5px;
    margin: 0.8px 0 4.8px 183px;
    background-color: rgba(195, 197, 203, 0.75);
  }
    .Current-Epoch-258 {
    width: 118px;
    height: 63px;
    margin: 13.8px 30px 4.8px 220px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  
  .Current-Epoch-258 .text-style-1 {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.09;
  }
    .Vector-90---Vector-91---273 {
    width: 1310.2px;
    height: 1268.9px;
    flex-grow: 0;
    padding: 60.1px 59px 60.4px 60.7px;
    border: solid 0.5px #fff;
  }
    .Line-87 {
    width: 299px;
    height: 0.5px;
    margin: 4.8px 24px 2.8px 1px;
    background-color: rgba(195, 197, 203, 0.75);
  }
    .wMetaMask {
    width: 35px;
    height: 31.4px;
    flex-grow: 0;
    margin: 0 0 10.6px 19px;
  }
    .Unity {
    width: 69px;
    height: 38px;
    flex-grow: 0;
    margin: 4px 19px 0 24px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
    .Unity {
    width: 33px;
    height: 19px;
    flex-grow: 0;
    margin: 4px 24px 19px 41px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
    .Unity {
    width: 46px;
    height: 19px;
    flex-grow: 0;
    margin: 4px 41px 19px 0;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
    .Unity {
    width: 51px;
    height: 16px;
    margin: 15.8px 13px 9px 7px;
    font-family: Nunito;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
    .bbond {
    width: 20px;
    height: 20px;
    flex-grow: 0;
  }
    .Line-86 {
    width: 352px;
    height: 0.5px;
    margin: 5.8px 24px 9.8px 22px;
    background-color: rgba(195, 197, 203, 0.75);
  }
    .wMetaMask {
    width: 35px;
    height: 31.4px;
    flex-grow: 0;
    margin: 0 0 9.6px 12px;
  }
    .Unity {
    width: 83px;
    height: 38px;
    flex-grow: 0;
    margin: 3px 12px 0 13px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
    .Unity {
    width: 41px;
    height: 19px;
    flex-grow: 0;
    margin: 3px 13px 19px 37px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
    .Unity {
    width: 46px;
    height: 19px;
    flex-grow: 0;
    margin: 3px 37px 19px 0;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
    .Unity {
    width: 56px;
    height: 16px;
    margin: 14.8px 9px 13.8px 6px;
    font-family: Nunito;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
    .bshares {
    width: 20px;
    height: 20px;
    flex-grow: 0;
  }
    .Line-85 {
    width: 352px;
    height: 0.5px;
    margin: 8.8px 24px 9.8px 22px;
    background-color: rgba(195, 197, 203, 0.75);
  }
      .wMetaMask {
    width: 35px;
    height: 31.4px;
    flex-grow: 0;
    margin: 0 0 6.6px 19px;
  }
      .Unity {
    width: 69px;
    height: 38px;
    flex-grow: 0;
    margin: 0 19px 0 20px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
      .Unity {
    width: 40px;
    height: 19px;
    flex-grow: 0;
    margin: 0 20px 19px 40px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
      .Unity {
    width: 41px;
    height: 19px;
    flex-grow: 0;
    margin: 0 40px 19px 0;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
      .Unity {
    width: 43px;
    height: 16px;
    margin: 11.8px 1px 0.8px 6px;
    font-family: Nunito;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
      .bomb {
    width: 20px;
    height: 20px;
  }
      .Line-88 {
    width: 299px;
    height: 0.5px;
    margin: 5.8px 24px 8.8px 1px;
    background-color: rgba(195, 197, 203, 0.75);
  }
      .Unity {
    width: 22px;
    height: 14px;
    margin: 32.8px 109px 5.8px 34px;
    font-family: Nunito;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
      .Unity {
    width: 57px;
    height: 14px;
    margin: 32.8px 34px 5.8px 12px;
    font-family: Nunito;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
      .Unity {
    width: 68px;
    height: 14px;
    margin: 32.8px 12px 5.8px 9px;
    font-family: Nunito;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
      .Line-81 {
    width: 970px;
    height: 0.5px;
    margin: 4.3px 27px 13.8px 11px;
    background-color: rgba(195, 197, 203, 0.75);
  }
      .Vector-90---Vector-91---91 {
    width: 1440px;
    height: 1360px;
    flex-grow: 0;
    padding: 18px 10.4px 0 0;
    border: solid 0.5px #fff;
  }
  .Vector-90---Vector-91---182 {
    width: 1429.6px;
    height: 1340.4px;
    flex-grow: 0;
    margin: 1.6px 0 0;
    padding: 60.1px 59px 11.5px 60.4px;
    border: solid 0.5px #fff;
  }
  .Rectangle-22674 {
    width: 1048px;
    height: 289px;
    flex-grow: 0;
    margin: 0 190.6px 1053px 191px;
    padding: 8.4px 7px 19px 33px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(32, 37, 67, 0.5);
  }
  .Bomb-Finance-Summary {
    width: 242px;
    height: 30px;
    margin: 0 183px 4.3px 24px;
    font-family: Nunito;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }